@use "sass:color";
@use "./scss/core/colors" as *;
@use "./scss/core/auto-shades" as *;

:root {
  /*----------< colors >----------*/
  @each $colors, $value in $colors {
    --clr-#{$colors}: #{$value};
  }

  /*----------< shades >----------*/
  @each $color, $shades in $shades {
    @each $shade, $value in $shades {
      --clr-#{$color}-#{$shade}: #{$value};
    }
  }
}

//----------< debugs >----------
// @debug $shades;
